# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

### **Objectives:**
- Popular languages used for data Science
- Commonly used libraries in data Science
- 3 examples of development environment open source tools
- Some arithmetic expression examples

### Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Java
4. Scala

# Some of the commonly used libraries used by data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Keras

| Data Science tools |
|---|
|JupyterLab|
|JupyterLite|
|RStudio|
|Apache Zepellin|

### Below are a few examples of evaluating arithmetic expressions in Python

#### This is a simple arithmetic expression to multiply then add integers

In [34]:
(3*4)+5

17

#### This will convert 200 minutes to hours by dividing by 60

In [38]:
200/60

3.3333333333333335

## Author
Philippe Le fur